
<meta charset="utf-8">
<title><%= data.page.title + ' | DirectCMS' || '404' %></title>

<!-- Mobile Specific Metas
================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Directus based website CMS">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta name="author" content="directcms">
<meta name="generator" content="diretcms">
 

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/web_assets/images/favicon.png" />

<!-- PLUGINS CSS STYLE -->
<link rel="stylesheet" href="/web_assets/plugins/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/web_assets/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/web_assets/plugins/slick/slick.css">
<link rel="stylesheet" href="/web_assets/plugins/slick/slick-theme.css">
<link rel="stylesheet" href="/web_assets/plugins/fancybox/jquery.fancybox.min.css">
<link rel="stylesheet" href="/web_assets/plugins/aos/aos.css">

<!-- CUSTOM CSS -->
<link href="/web_assets/css/style.css" rel="stylesheet">
<!-- Place this tag in your head or just before your close body tag. -->