<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1> <%= block.item.headline %> </h1>
				<!-- Page Description -->
				<p><%= block.item.tagline %></p>
			</div>
		</div>
	</div>
</section>
