<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Design Team</h2>
					<p><a href="https://directcms.in/products/small-apps-free-app-landing-page-template/">Small Apps</a> makes it easy to stay on top of your Life Style. No late tasks. No gimmicks.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="images/team/design-team-01.jpg" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Andrew</h3>
	<!-- Position -->
	<cite>Head Of Marketing</cite>
	<!-- Description -->
	<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="images/team/design-team-02.jpg" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Andrew</h3>
	<!-- Position -->
	<cite>Head Of Marketing</cite>
	<!-- Description -->
	<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="images/team/design-team-03.jpg" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-twitter"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-instagram"></i></a></li>
				<li class="list-inline-item"><a href="https://directcms.in/"><i class="ti-dribbble"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Jonathon Andrew</h3>
	<!-- Position -->
	<cite>Head Of Marketing</cite>
	<!-- Description -->
	<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
</div>
			</div>
		</div>
	</div>
</section>